* {
    box-sizing: border-box;

  }
  body{
    margin: 0;
  }
 
  
  div.navbar {
    display: flex;
    background-color: #183b34;
  position: fixd;
  top: 0;


  }
  
  .navbar {
    box-shadow: 0 1px 5px #183b34;
  }
  
  img {
    height: 100px;
  }
  
  li {
    display: inline-block;
    margin: 20px;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  li:hover a {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 5px white;
  }



.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .footer {
    background-color: #183b34;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 1px 0 5px #183b34;
  }